.header {
	padding: 2rem;
}
.main {
	padding: 2rem;
	min-height: 70vh;
}
.footer {
	font-size: 0.8rem;
	text-align: center;
}

// Barba
.barba-once {
	opacity: 0;
}
.barba-once-active {
	transition: opacity 3s linear;
}
.barba-once-to {
	opacity: 1;
}
