/*-----------------------------------------------
//  Project Default Styles
//  
//  Table of Contents:
//	1.Import
//	2.Valuables
//	3.Modules 
//	4.Base
-----------------------------------------------*/

/* --------------------------------------------
1.Import 
-------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Lato:700,900&display=swap');

/* --------------------------------------------
2.Valuables
-------------------------------------------- */

// Typography
$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Lato', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', メイリオ, 'Helvetica Neue', Helvetica, sans-serif;

$bold: 800;
$heavy: 900;

// Media Query Breadpoint
$small: 320px;
$medium: 768px;
$large: 1024px;
$xlarge: 1286px;

// mixin
@mixin xsmall {
	@media screen and (max-width: $small) {
		@content;
	}
}
@mixin small {
	@media screen and (max-width: $medium) {
		@content;
	}
}
@mixin medium {
	@media screen and (min-width: $medium) {
		@content;
	}
}
@mixin large {
	@media screen and (min-width: $large) {
		@content;
	}
}

// Color
$color-kch: #009944;
$color-accent: #fff100;
$black: #1a1a1a;
$white: #fff;
$light-gray: #f1f1f1;
$gray: #888;
$dark-gray: #242424;
$light-green: #e7f2ec;

/* --------------------------------------------
3.Base Setting
-------------------------------------------- */
html {
	font-size: 62.5%;
	width: 100%;
	-webkit-print-color-adjust: exact; /*印刷用*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*iPhoneタップ時の半透明を消す*/
	body {
		color: $black;
		font-family: $font-sans-serif;
		letter-spacing: 0.01em;
		header,
		main,
		footer {
			@include desktop {
				min-width: $large;
				overflow: hidden;
			}
			@include mobile {
				width: 100%;
			}
		}
		a,
		img {
			color: $black;
			text-decoration: none;
			transition: all 0.3s;
		}
		img {
			width: 100%;
		}
		@include desktop {
			a:hover,
			,
			a img:hover {
				opacity: 0.7;
			}
		}
	}
}

/* --------------------------------------------
4.Modules
-------------------------------------------- */
// Align
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

// Container
.container {
	max-width: $large;
	margin: 0 auto;
	@include mobile {
		padding: 0 1.5rem;
		&.sp-full {
			padding: 0;
		}
	}
}
.container-wide {
	max-width: $xlarge;
	margin: 0 auto;
}
.container-narrow {
	max-width: $medium;
	margin: 0 auto;
	@include mobile {
		padding: 0 1.5rem;
	}
}

// Visibility
.only-for-desktop {
	@include mobile {
		display: none;
	}
}
.only-for-mobile {
	display: none;
	@include mobile {
		display: block !important;
	}
}
