/*-----------------------------------------------
//  Project Default Styles
//  
//  Table of Contents:
//	1.Import
//	2.Valuables
//	3.Modules 
//	4.Base
-----------------------------------------------*/

/* --------------------------------------------
1.Import 
-------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Lato:700,900&display=swap');

/* --------------------------------------------
2.Valuables
-------------------------------------------- */

// Typography
$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Lato', 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', メイリオ, 'Helvetica Neue', Helvetica, sans-serif;

$font-11: 0.7rem;
$font-12: 0.75rem;
$font-13: 0.8rem;
$font-14: 0.88rem;
$font-15: 0.94rem;
$font-16: 1rem;
$font-17: 1.25rem;
$font-18: 1.12rem;
$font-20: 1.25rem;
$font-22: 1.38rem;
$font-24: 1.5rem;
$font-26: 1.62rem;
$font-28: 1.75rem;
$font-30: 1.85rem;
$font-32: 2rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
$font-50: 3.1rem;
$font-58: 3.63rem;
$font-60: 4.3rem;
$font-70: 4.4rem;
$font-104: 6.5rem;

$bold: 800;
$heavy: 900;

// Media Query Breadpoint
$xsmall: 320px;
$small: 768px;
$medium: 880px;
$large: 1080px;
$xlarge: 1286px;
$xxlarge: 1400px;

// mixin
@mixin mini {
	@media screen and (max-width: $xsmall) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: $small) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: $small) {
		@content;
	}
}

// Color
$color-kch: #009944;
$color-accent: #fff100;
$black: #1a1a1a;
$white: #fff;
$light-gray: #f1f1f1;
$gray: #888;
$dark-gray: #242424;
$light-green: #e7f2ec;

/* --------------------------------------------
3.Base Setting
-------------------------------------------- */
html {
	font-size: 62.5%;
	width: 100%;
	-webkit-print-color-adjust: exact; /*印刷用*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*iPhoneタップ時の半透明を消す*/
	body {
		color: $black;
		font-family: $font-sans-serif;
		letter-spacing: 0.01em;
		header,
		main,
		footer {
			@include desktop {
				min-width: $large;
				overflow: hidden;
			}
			@include mobile {
				width: 100%;
			}
		}
		a,
		img {
			color: $black;
			text-decoration: none;
			transition: all 0.3s;
		}
		img {
			width: 100%;
		}
		@include desktop {
			a:hover,
			,
			a img:hover {
				opacity: 0.7;
			}
		}
	}
}

/* --------------------------------------------
4.Modules
-------------------------------------------- */
// Align
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

// Container
.container {
	max-width: $large;
	margin: 0 auto;
	@include mobile {
		padding: 0 1.5rem;
		&.sp-full {
			padding: 0;
		}
	}
}
.container-wide {
	max-width: $xlarge;
	margin: 0 auto;
}
.container-narrow {
	max-width: $medium;
	margin: 0 auto;
	@include mobile {
		padding: 0 1.5rem;
	}
}

// Visibility
.only-for-desktop {
	@include mobile {
		display: none;
	}
}
.only-for-mobile {
	display: none;
	@include mobile {
		display: block !important;
	}
}
